<li class="nav-item dropdown">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <a href="#" class="btn btn-secondary">Orders
            {% if request.rented_thing_count %}
                ({{ request.rented_thing_count }})
            {% endif %}
        </a>
        <button class="btn btn-success dropdown-toggle fs-6 px-5" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            Menu
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
</li>