{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block styles %}
    {#    <link rel="stylesheet" href="{% static 'rent/static/css/rent/rent.css' %}">#}
{% endblock %}

{% block title %}{{ product.name }}{% endblock %}

{% block leftsidebar %}
{% endblock %}

{% block content %}
    <h1>Product "{{ product.name }}"</h1>
    <div class="col">
        <div class="card">
            <img src="{{ product.image }}" class="card-img-top bg-white" alt="{{ product.name }}"
                 style="height: 250px; object-fit: contain">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div>{{ product.price }} BYN</div>
                    <div>{% include 'product/product_parts/basket_button.html' %}</div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <div class="d-grid gap-2 mx-auto">
                    <a href="{% url 'shop:order_page' product_id=product.id %}" class="btn btn-warning">Order</a>
                </div>
            </div>
        </div>
    </div>


    {#    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">#}
    {#        {% for product in products %}#}
    {#            {% include 'product.html' %}#}
    {#        {% endfor %}#}
    {#    </div>#}
{% endblock %}

{% block rightsidebar %}
{% endblock %}


