{% load static %}

<div class="card justify-content-between">
    <div>
        {% if club.image %}
            <img src="{{ club.image.url }}" class="card-img-top" alt="{{ club.name }}">
        {% else %}
            <img src="https://source.unsplash.com/random/350x350?sig={{ club.id }}" class="card-img-top"
                 alt="{{ club.name }}">
            {#            <img src="{% static 'static/images/no-image.png' %}" class="card-img-top" alt="{{ club.name }}">#}
        {% endif %}
    </div>
    <div class="card-body text-center">
        <h5 class="card-title">{{ club.name }}</h5>
        <div class="d-grid">
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#{{ club.id }}-modal">
                Rent
            </button>
        </div>
    </div>
</div>

{% include 'rent/clubs/rent_club_modal.html' %}
