<div class="col">
    <div class="card">
        <img src="{{ purchase.product.image }}" class="card-img-top bg-white" alt="{{ purchase.product.name }}"
             style="height: 250px; object-fit: contain">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ purchase.product.get_absolute_url }}">{{ purchase.product.name }}</a>
            </h5>
            <p class="card-text">{{ purchase.product.description }}</p>
            <hr>
            <p class="card-text text-danger ">Price: {{ purchase.product.price }} BYN</p>
            <p class="card-text">Comment: {{ purchase.comment }}</p>
            <p class="card-text text-success">Completed</p>
        </div>
        <div class="card-footer">{{ purchase.created_at }}</div>
    </div>
</div>

