<!-- Modal -->
<div class="modal fade" id="removeProduct-{{ product.id }}" tabindex="-1" aria-labelledby="removeProduct"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    {{ product.name }} will be removed from your basket.
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="remove_product" value="{{ product.id }}">
                    <button type="submit" class="btn btn-danger">I'm sure</button>
                </form>
            </div>
        </div>
    </div>
</div>