{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'rent/static/css/rent/rent.css' %}">
{% endblock %}

{% block title %}Console orders{% endblock %}

{% block leftsidebar %}
    {% include 'rent/orders/consoles/filter.html' %}
{% endblock %}

{% block content %}
    <h1>Console orders</h1>
    <div class="container">
        <div class="row row-cols-1">
            {% for console_order in console_orders %}
                {% include 'rent/orders/consoles/console_rent.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block rightsidebar %}
{% endblock %}
}