{% load static %}

<div class="card justify-content-between" style="width: 20rem; align-content: space-between; flex-flow: row wrap;">
    <div>
        {% if console.image %}
            <img src="{{ console.image.url }}" class="card-img-top" alt="{{ console.name }}">
        {% else %}
            <img src="{% static 'images/no-image.png' %}" class="card-img-top" alt="{{ console.name }}">
        {% endif %}
    </div>
    <div class="card-body text-center">
        <h5 class="card-title">{{ console.name }}</h5>
        <div class="d-grid">
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#{{ console.id }}-modal">
                Rent
            </button>
        </div>
    </div>
</div>

{% include 'console/rent_console_modal.html' %}
