{% load crispy_forms_filters %}

<div class="modal fade" id="{{ console.id }}-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ console.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'rent_console' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="console" value="{{ console.name }}">
                    {{ form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Send the order</button>
                </div>
            </form>
        </div>
    </div>
</div>