<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteButton">Delete account
</button>


<div class="modal fade" id="deleteButton" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Warning</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the account?<br>
                Type '{{ request.user.email }}-delete' to confirm
            </div>
            <form method="post" class="modal-footer" action="{% url 'delete_profile' %}">
                {% csrf_token %}
                <input type="text" class="form-control" name="confirm_test" pattern="{{ request.user.email }}-delete" required>
                <button type="submit" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
            </form>
        </div>
    </div>
</div>

