{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block styles %}
    {#    <link rel="stylesheet" href="{% static 'rent/static/css/rent/rent.css' %}">#}
{% endblock %}

{% block title %}Rent Consoles{% endblock %}

{% block leftsidebar %}
{% endblock %}

{% block content %}
    <div class="row row-cols-3">
        {% for console in consoles %}
            <div class="col d-flex justify-content-center pt-3">
                {% include 'console.html' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block rightsidebar %}
{% endblock %}
>