<div class="card" style="width: 56rem">
    <img src="{{ console.image.url }}" class="card-img-top" alt="{{ console.name }}">
    <div class="card-body">
        <h5 class="card-title text-center">{{ console.name }}</h5>
        {#        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's#}
        {#            content.</p>#}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
            <span>{{ console.price_per_hour }} BYN/hour</span>
            <a href="#" class="btn btn-success">Rent/month</a>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>{{ console.price_per_month }} BYN</span>
            <a href="#" class="btn btn-success">Rent</a>
        </li>
    </ul>
{#    <div class="card-body">#}
    {#        <a href="#" class="card-link">Card link</a>#}
    {#        <a href="#" class="card-link">Another link</a>#}
    {#    </div>#}
</div>
