{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_filters %}

{% block styles %}
    {#    <link rel="stylesheet" href="{% static 'rent/static/css/rent/rent.css' %}">#}
{% endblock %}

{% block title %}Rent Consoles{% endblock %}

{% block leftsidebar %}
{% endblock %}

{% block content %}
    <h1>Rooms</h1>
    <div class="row row-cols-3">
        {% for room in rooms %}
            <div class="col d-flex justify-content-center pt-3">
                {% include 'rent/rooms/room.html' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block rightsidebar %}
{% endblock %}
>