<div class="col">
    <div class="card">
        <img src="{{ product.image }}" class="card-img-top bg-white" alt="{{ product.name }}"
             style="height: 250px; object-fit: contain">
        <div class="card-header">
            {{ product.price }} BYN
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-grid gap-2 mx-auto">
                <a href="#" class="btn btn-warning">About</a>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#product-{{ product.id }}">Buy
                </button>
                <a href="#" class="btn btn-secondary">Into the basket</a>
                {% include "product_modal.html" %}
            </div>
        </div>
    </div>
</div>

