{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'news/css/news_list.css' %}">

{% endblock %}

{% block title %}DedRobin Game Service{% endblock %}

{% block content %}
    <div class="container p-2">
        {% include "pagination.html" %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 pb-2">
            {% for article in news %}
                {% if article.is_published %}
                    <div class="col">
                        {% include 'article.html' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% include "pagination.html" %}
    </div>
{% endblock %}
